.editAction {
    color: #0366d6;
    margin-left: 5px;
    cursor: pointer;
}

.deleteAction {
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

.actions {
    cursor: pointer;
}

.addMember {
    margin-top: 10px;
    margin-bottom: 10px;
}